{
  "extends": "eslint-config-edx",
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "config/*.js",
          "**/*.test.jsx",
          "**/*.test.js"
        ]
      }
    ],
    // https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/340#issuecomment-338424908
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    // https://github.com/yannickcr/eslint-plugin-react/issues/1754#issuecomment-378838053
    // tl;dr: this rule is no longer going to cause any user-facing visual weirdness, its original motivation
    "react/no-did-mount-set-state": "off"
  },
  "env": {
    "jest": true
  }
}
