.DS_Store
.eslintcache
node_modules
npm-debug.log
coverage

dist/
src/i18n/transifex_input.json
temp/babel-plugin-react-intl

### pyenv ###
.python-version

### Emacs ###
*~
*.swo
*.swp

### Development environments ###
.idea
.vscode

### transifex ###
src/i18n/transifex_input.json
temp

src/i18n/messages/