.spinner-overlay {
    background-color: #999;
    opacity: 0.5;
    z-index: 99999;
    padding: 200px;
}

.gradebook-content {
    // note that this width isn't well-abstracted from Drawer code.
    // if we need to change it we may need to dig into those styles as well
    width: 100vw;
}

.grade-history-assignment{
    padding-right: 49px;
}

.grade-history-student{
    padding-right: 75px;
}

.grade-history-original-grade{
    padding-right: 25px;
}

.grade-history-current-grade{
    padding-right: 25px;
}

.gradebook-container {
    max-height: 600px;
}

.form-group, .pgn__form-group {
  label {
    font-weight: bold;
  }
}

.modal-dialog {
    max-width: 1000px;
}

select#ScoreView.form-control {
  padding-right: 26px;
}

[dir=rtl] #course-grade-tooltip .arrow {
    right: initial;
    left: 0;

    &:before {
        border-width: 0.4rem 0.4rem 0.4rem 0;
        border-right-color: black;
        border-right-color: var(--black);
    }
}
