.site-header {
  display: flex;
  border-bottom: solid 1px rgba(0,0,0,.1);

  justify-content: space-between;
  align-items:center;
  position: relative;
  & > div {
    flex-grow: 1;
    flex-basis:34%;
  }

  .right-menu {
    display: flex;
    justify-content: flex-end;
  }
  .site-header-logo {
    flex-grow:1;
    text-align: center;
    a {
      display: inline-block;
    }
  }
  button.menu-button {
    padding:1em;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
}




.main-nav {
  max-width: 100%;
  position:relative;
  button, a {
    display: block;
    width:100%;
    text-align: left;
    border:none;
    border-bottom: solid 1px #aaa;
    padding:.5em 1em;
  }
  h4 {
    padding: .5em 1em;
    font-size: 15px;
    font-weight: 400;
  }

  .nav-wrap {
    transition: transform .5s ease;
  }

  &.has-expanded-menu {
    .nav-wrap {
      transform: translateX(-100%);
    }
  }
}
.nav-menu {
  .nav-menu-content {
    position:absolute;
    left: 0;
    width: 100%;
    top: 0;
    transform: translateX(100%);
  }
}