.max-width-222 {
  max-width: 222px;
}

.max-width-264 {
  max-width: 264px;
}

.max-width-1180 {
  max-width: 1180px;
}

.max-height-39 {
  max-height: 39px;
}

.d-grid {
  display: grid;
}

$gray-footer: #fcfcfc;
$border-1: 1px solid $gray-200;

.footer {
  background-color: $gray-footer;

  .area-1 {
    grid-column: 1;
    grid-row: 1;
    border-bottom: $border-1;
    padding-bottom: 1rem;
  }

  .area-2 {
    grid-column: 1;
    grid-row: 2;
    border-bottom: $border-1;
    padding: 1rem 0;
  }

  .area-3 {
    grid-column: 1;
    grid-row: 3;
    border-bottom: $border-1;
    padding: 1rem 0;
  }

  .area-4 {
    grid-column: 1;
    grid-row: 4;
    border-bottom: $border-1;
    padding: 1rem 0;
  }

  .area-5 {
    grid-column: 1;
    grid-row: 5;
    padding: 1rem 0;
  }

  @media only screen and (min-width: 717px) {
    .area-1 {
      grid-column: 1 / span 2;
      grid-row: 1;
      border-bottom: none;
      padding: 1rem 0;
    }

    .area-2 {
      grid-column: 1;
      grid-row: 2;
    }

    .area-3 {
      grid-column: 1;
      grid-row: 3;
    }

    .area-4 {
      grid-column: 1;
      grid-row: 4;
      border-bottom: none;
    }

    .area-5 {
      grid-column: 2;
      grid-row: 2 / span 3;
      border-left: $border-1;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }

  @media only screen and (min-width: 870px) {
    .area-1 {
      grid-column: 1;
      grid-row: 1 / span 3;
      border-right: $border-1;
      padding-right: 1rem;
      margin-right: 1rem;
    }

    .area-2 {
      grid-column: 2;
      grid-row: 1;
      border-bottom: none;
      border-right: $border-1;
      padding-right: 1rem;
      margin-right: 1rem;
    }

    .area-3 {
      grid-column: 3;
      grid-row: 1;
      border-bottom: none;
      border-right: $border-1;
      padding-right: 1rem;
      margin-right: 1rem;
    }

    .area-4 {
      grid-column: 4;
      grid-row: 1;
    }

    .area-5 {
      grid-column: 2 / span 3;
      grid-row: 2;
      border: none;
      margin-left: 0;
      padding-left: 0;
    }
  }

  @media only screen and (min-width: 1188px) {
    .area-1 {
      grid-column: 1 / span 1;
      grid-row: 1;
    }

    .area-2 {
      grid-column: 2;
      grid-row: 1;
    }

    .area-3 {
      grid-column: 3;
      grid-row: 1;
    }

    .area-4 {
      grid-column: 4;
      grid-row: 1;
      border-right: $border-1;
      padding-right: 1rem;
      margin-right: 1rem;
    }

    .area-5 {
      grid-column: 5 / span 1;
      grid-row: 1;
      max-width: 372px;
    }
  }
}
