$drawer-width: 350px;

.spinner-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #999;
    opacity: 0.5;
    z-index: 99999;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding: 200px;
}

.color-black {
    color: black;
}

.gradebook-contents {
    transition: transform 1.3s cubic-bezier(0.4,0,0.2,1);
    .drawer.open + & {
        transform: translateX($drawer-width);
    }
    .search-help-text {
        margin-left: 20px;
    }
    h4 {
        font-weight: bold;
        margin-top: 2rem;
    }
}

.drawer-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
}

.drawer-container {
    overflow-x: hidden;
    .collapsible {
        margin-bottom: 1em;
    }
}

.drawer {
    height: 100%;
    width: $drawer-width;
    position: absolute;
    transform: translateX(-$drawer-width);
    flex-direction: column;
    transition: transform 1.3s cubic-bezier(0.4,0,0.2,1);
    &.open {
        transform: translateX(0%);
    }
}

.student-filters{
    display: flex;
    .label{
        padding-top: 30px;
    }
    .form-group{
        margin-left: 10px;
    }
}
.grade-history-header{
    float: left;
}

.grade-history-assignment{
    padding-right: 49px;
}
.grade-history-student{
    padding-right: 75px;
}

.grade-history-original-grade{
    padding-right: 25px;
}

.grade-history-current-grade{
    padding-right: 25px;
}

.gbook { 
    overflow-x: scroll;

    .grade-button {
        text-decoration: underline;
    }

    .student-key {
        font-size: 14px;
    }

    .table {
        padding-left: 244px;

        th {
            vertical-align: top;
            font-size: 14px;
        }
    }

    .table thead tr {
        height: 60px;
    }

    .table tr th:first-child {
        position: absolute;
        width: 160px;
        height: 50px;
        display: block;
        border-bottom: none;
    }
    .table tr td:first-child {
        position: absolute;
        width: 160px;
        height: 50px;
        display: block;
    }
    .table tr td:nth-child(2) {
        box-sizing: content-box;
        padding-left: 170px;
    }
    .table tr th:nth-child(2) {
        padding-left: 170px;
    }

    .table tbody th {
        font-weight: normal;
    }

    .link-style {
        color: #0075b4;
        &:hover, &:focus {
            color: #004368;
            text-decoration: underline;
        }
    }
}

.input-percent-label {
    margin-top: 10px;
    margin-left: -60px;
}

.mb-85 {
    margin-bottom: 85px;
}

.modal-dialog {
    max-width: 1000px;
}

.original-filename {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
